<%- include('../style'); %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <% blogs.reverse().forEach(function(blog) { %>
    <div class="blogListing">
      <h2>
        <span class="author"><%= blog['author'] %></span>
        <span class="date"><%= blog['date'] %></span>
      </h2>
      <div class="innerContainer">
        <h3>
          <%= blog['blogTitle'] %>
        </h3>
        <p>
          <%= blog['blogText'] %>
        </p>
      </div>
      <p align="right">
        <a href="../blogEdit\<%= blog['_id'] %>"> <button> <i class="material-icons">mode_edit</i> </button></a>
        <a href="../blogDelete\<%= blog['_id']%>"><button><i class="material-icons">delete</i></button></a>
      </p>
    </div>
    <% }); %>