<!DOCTYPE html>
<html>
<%- include('./style'); %>
    <script> src = "../Controllers/blog.js"</script>
    </head>
    <title>
        <%= title %>
    </title>
    <div class="topnav">
        <a href="/home">My Blog</a>
        <a class="active" href="/blogList">List Blogs</a>
        <a href="/blogAdd">Add Blogs</a>
    </div>
    </head>

    <body>
        <h1>
            <span class="tab"> </span>
            <%= title %>
        </h1>
        <p><span class="tab2"> </span>
        <div class="blogAdd">
        <form class="blogAddForm" method="POST" action="/blogEdit/<%= blog['_id']%>/">
            <label  for="Author" >Author</label><br>
            <input class="username"type="text" id="Author"  name="Author" autocomplete="off" value='<%= blog['author'] %>'><br>
            
            <label  for="bTitle"> Blog title</label><br>
            <input class="username" type="text" id="bTitle" name="bTitle" autocomplete="off" value='<%= blog['blogTitle'] %>'><br>
            
            <label for="bText"value="Non-editable Text"> Blog Text</label><br>
            
            <textarea class= "blogText" type="text" id="bText" name="bText" ><%= blog['blogText'] %></textarea><br>
            <a class="cancel" href="/bloglist" role="button">Cancel</a>
            <input class="submit" type="submit" value="Save" style="font-family: Arial, Helvetica, sans-serif;">
        </form>
    </div>
        </p>
    </body>

</html>